.screens {
    display: flex;
    overflow: hidden;
}

.screens__wrapper {
    position: relative;
    height: 100vh;

    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%); */
}

.screens__boards--rotate {
    position: absolute;
    left: -350px;
    top: 290px;
}

.screens__chatBot--rotate {
    position: absolute;
    left: 360px;
    top: 275px;
}