.testimonials {
    padding-bottom: 15%;
}
.testimonials__cards-wrapper {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0;
}

.testimonial__card {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.testimonials__cards-line {
    gap: 25px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.human {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}

@media (max-width: 768px) {
    .testimonials {
        padding-bottom: 10%;
    }
    .testimonials__cards-line {
        gap: 25px;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .opentype {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 540px) {
    .testimonials__cards-line {
        width: 80%;
        
    }
}
